/* header y navbar para todos los html */
.navbar-brand img {
     width: 108px;
     height: 140px;
}

.nav-item a {
    color: black;
    font-weight: 500;
    &:hover{
color: rgb(0, 51, 255);
    }
}


.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: red
}

.navbar-nav:hover {
    color: red;

}

.header {
    background-image: linear-gradient(50deg, red, black);
}

.navbar-toggler {
    background-color: rgb(37, 37, 189);
    border: 4px solid rgb(171, 42, 42);
    &:hover{
        background-color: gold;
        transition: 0.5s;
    }
}

.navbar-toggler-icon {
    font-size: 125%;
}

