/* Estilo a las cards del index */
.row {
    justify-content: center;
}

.card {
    background-color: grey;
    padding: 20px;
    border: 3px black solid;
}

.card-body a:hover {
    background-color: red;
}

.paginaPrincipal {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}

.texto2 {
    text-decoration: underline;
    text-align: center;
}
.italia{
     margin: 30px;
     padding: 3px;
     text-align: center;
     border: 2px black solid;
     border-radius: 3px;
    
}

.años {
    font-family: 'Times New Roman', Times, serif;
    font-size: bold;
    text-decoration: underline;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.champions {
     margin: 30px;
     padding: 3px;
     text-align: center;
     border: 2px black solid;
     border-radius: 3px;
     font-family: 'Times New Roman', Times, serif;
}