/* Page Palmares */
.tablaPalmares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 6px solid red;
    background-color: rgba(255, 0, 0, 0.496);
    font-weight: 800;
    th{
        padding: 20px;
    border: solid black 2px;
    font-size: 150%;
    color: rgb(18, 18, 72);
    }
    td{
        border: solid rgb(0, 0, 0) 2px;
        text-align: center;
        color: rgb(218, 201, 201);
    }

}


.tituloPalmares {
    text-align: center;
    text-decoration: underline;
    font-size: 300%;
    color: darkred;

}

.champions7 {
    border: 5px solid red;
    text-align: justify;
    width: auto;
    text-align: center;
    text-decoration: underline;
}


/* Parte de GRID al html palmares */
.grid-container4 {
    display: grid;
    grid-template-areas:
        "header-g4 header-g4 header-g4 header-g4"
        "main-g4 main-g4 main-g4 main-g4"
        "footer-g4 footer-g4 footer-g4 footer-g4"
    ;
    grid-template-rows: repeat(30vh 45vh 25vh);
    grid-template-columns: repeat(2, 50vw);


}

.header-g4 {
    grid-area: header-g4;
}


.main-g4 {
    grid-area: main-g4;
}

.footer-g4 {
    grid-area: footer-g4;
}

/* Media Query= mobile first */
/* media para dispositivo mediano page palmares */
@media (min-width: 768px) {
    .footer-g4 a {
        background-color: rgb(255, 0, 174);
        color: rgb(255, 0, 238);
        border: solid rgb(136, 145, 6) 1px;
        font-weight: bold;

        &hover {
            background-color: rgb(57, 3, 156);
            transition: 0.6s;
        }
    }


    .main-g4 {
        color: rgb(150, 65, 31);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 400;
    }

}

/* media para dispositivo grande page palmares */
@media (min-width: 1024px) {
    .footer-g4 a {
        background-color: rgb(91, 83, 176);
        color: rgb(131, 11, 11);
        text-transform: uppercase;
        font-weight: 600;
        &hover{
            background-color: rgb(255, 255, 30);
            transition: 0.5s;
            font-weight: 900;
        }
    }

  

    .header-g4 a {
        background-color: rgb(20, 116, 189);
        border: 3px rgb(135, 100, 100) solid;
    }

    .main-g4 {
        font-style: italic;
        color: rgb(71, 125, 164);
        text-decoration: underline;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;

    }
}